{{ if (isset .Params "audio") }}
{{ else }}
<time itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>
  {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
</time>
·
<span>{{.ReadingTime}} minutos de lectura</span>
·


{{ $path := .File.Path }}

<!-- Replace in $path the \ with / and remove the content/ part -->

{{ $path = strings.Replace $path "\\" "/" -1 }}


<a href="https://github.com/usarral/blog/edit/main/content/{{ $path }}" target=" _blank">¿Una errata? Edita el artículo
  {{ partial
  "icons/github.html" . }}
</a>
{{ end }}