<!-- {{- $lang := .Lang}}
{{- with site.Home.AllTranslations }}
<section class='u-center'>
    {{- range . -}}
    {{- if ne $lang .Lang }}
    <a href="{{- .Permalink -}}"
        title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
        aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">

        {{- if .Language.Params.languageIcon }}
        <img src="{{ .Language.Params.languageIcon }}" alt="{{ .Language.LanguageName | default (.Lang | title) }}"
            class="languageFlag" />
        {{- else }}
        {{- .Lang | title -}}
        {{- end -}}
    </a>
    {{- end -}}
    {{- end}}
</section>
{{- end }} -->