<h3 class="section-title">Artículos por temas</h3>
<div id='topics'>


  <a href='{{ "/tags" | relLangURL }}/javascript/' class='topic' title='Artículos sobre JavaScript'>
    <img decoding="async" alt='javascript' loading='lazy' src='/images/tags/javascript.png' width="48" height="48" />
    <h4>JavaScript</h4>
  </a>
  <a href='{{ "/tags" | relLangURL }}/svelte/' class='topic' title="Artículos sobre Svelte">
    <img decoding="async" alt='svelte' loading='lazy' src='/images/tags/svelte.png' width="48" height="48" />
    <h4>Svelte</h4>
  </a>

  <a href='{{ "/tags" | relLangURL }}/css/' class='topic' title='Artículos sobre CSS'>
    <img decoding="async" alt='css' loading='lazy' src='/images/tags/css.png' width="48" height="48" />
    <h4>CSS</h4>
  </a>
  <a href='{{ "/tags" | relLangURL }}/terminal/' class='topic' title='Artículos sobre Terminal'>
    <img decoding="async" alt='terminal' loading='lazy' src='/images/tags/terminal.png' width="48" height="48" />
    <h4>Terminal</h4>
  </a>
  <a href='{{ "/tags" | relLangURL }}/node/' class='topic' title='Artículos sobre Node.js'>
    <img decoding="async" alt='node' loading='lazy' src='/images/tags/node.png' />
    <h4>Node.js</h4>
  </a>
</div>