{{ define "main" }}
<style>
  #home-feed {
    flex: 1 1;
    padding-right: var(--p-separation);
  }

  .home-article h2 {
    color: #444;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .home-article picture,
  .home-article img {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    object-fit: contain;
    margin-left: .25rem;
    transition: transform .3s ease;
    position: relative;
  }

  .home-article .secondary {
    width: 1.5rem;
    border: .0625rem solid #ccc;
    height: 1.5rem;
    padding: .125rem;
    background: #fff;
    object-fit: contain;
    border-radius: 100%;
    bottom: -0.4375rem;
    left: 2rem;
    position: absolute;
  }

  .home-article {
    align-items: center;
    border-radius: .25rem;
    display: flex;
    margin-left: -0.5rem;
    margin-bottom: .5rem;
    padding: .5rem;
  }

  .home-article:hover {
    background: #eee;
  }

  .home-article:hover img {
    transform: scale(1.15)
  }

  .home-article:hover h2 {
    color: #0000EE;
  }

  .home-article .meta {
    color: #535353;
    font-size: .75rem;
    padding-top: .25rem;
  }

  #pagination {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    padding-right: var(--p-separation);
    padding-bottom: 3rem;
  }

  #pagination a {
    align-items: center;
    margin: 0;
    padding: .5rem;
    color: #09f;
    font-weight: bold;
  }

  #pagination span {
    display: inline-block;
    position: relative;
    width: .4375rem;
    height: .4375rem;
    border-radius: 50%;
    background-color: #333;
    margin-right: .1875rem;
  }

  #pagination .is-current {
    pointer-events: none;
  }

  #pagination .is-current span {
    width: 1.5625rem;
    border-radius: .3125rem;
  }

  #pagination i {
    border: solid currentColor;
    border-width: 0 .125rem .125rem 0;
    display: inline-block;
    margin: 0 .25rem;
    padding: .25rem;
    transform: rotate(135deg);
  }

  #pagination i.is-right {
    transform: rotate(-45deg);
  }

  #topics {
    display: flex;
    grid-gap: .5rem;
    padding: 1rem 0rem 3rem 1rem;
    margin: 0 -1rem;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .topic {
    align-items: center;
    background: #fff;
    border-radius: 1.625rem;
    border: .125rem solid #eee;
    color: #111;
    display: flex;
    height: 3.4375rem;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    position: relative;
    transition: all .3s ease;
  }

  .topic h4 {
    padding-left: .75rem;
  }

  .topic:hover {
    border: .125rem solid #09f;
  }

  .topic img {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
  }
</style>
<main id='home-feed'>
  <h3 class='section-title'>Últimos artículos</h3>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "posts") }}
  {{ range $paginator.Pages }}

  <a class='home-article' href="{{.Permalink}}">
    {{ with .Param "tags" }}
    <picture>
      {{ range first 1 . }}
      <img decoding="async" alt='Imagen de la etiqueta {{ . }}' src='/images/tags/{{.}}.svg' width="64" height="64" />
      {{ end }}
      {{ range after 1 . }}
      {{ if . }}
      <img class='secondary' decoding="async" alt='Imagen de la etiqueta {{ . }}' src='/images/tags/{{.}}.svg'
        width="64" height="64" />
      {{ end }}
      {{ end }}
    </picture>
    {{ end }}
    <div>
      <h2>{{ .Title }}</h2>
      <div class='meta'>
        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>
          {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
        </time>
      </div>
    </div>
  </a>
  {{ end }}
  <!--
//
//  PAGE NUMBERS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
  {{ $paginator := .Paginator }}

  <!-- Number of links either side of the current page. -->
  {{ $adjacent_links := 2 }}

  <!-- $max_links = ($adjacent_links * 2) + 1 -->
  {{ $max_links := (add (mul $adjacent_links 2) 1) }}

  <!-- $lower_limit = $adjacent_links + 1 -->
  {{ $lower_limit := (add $adjacent_links 1) }}

  <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
  {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

  <!-- If there's more than one page. -->
  {{ if gt $paginator.TotalPages 1 }}

  <ul id="pagination">

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li>
      <a href="{{ $paginator.Prev.URL }}">
        <i></i> artículos más recientes
      </a>
    </li>
    {{ end }}

    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}

    {{ $.Scratch.Set "page_number_flag" false }}

    <!-- Advanced page numbers. -->
    {{ if gt $paginator.TotalPages $max_links }}

    <!-- Lower limit pages. -->
    <!-- If the user is on a page which is in the lower limit.  -->
    {{ if le $paginator.PageNumber $lower_limit }}

    <!-- If the current loop page is less than max_links. -->
    {{ if le .PageNumber $max_links }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    <!-- Upper limit pages. -->
    <!-- If the user is on a page which is in the upper limit. -->
    {{ else if ge $paginator.PageNumber $upper_limit }}

    <!-- If the current loop page is greater than total pages minus $max_links -->
    {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    <!-- Middle pages. -->
    {{ else }}

    {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber
    $adjacent_links) ) }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    {{ end }}

    <!-- Simple page numbers. -->
    {{ else }}

    {{ $.Scratch.Set "page_number_flag" true }}

    {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li>
      <a href="{{ $paginator.Next.URL }}">
        artículos anteriores <i class='is-right'></i>
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
  {{ end }}


  {{partial "partials/tags.html"}}
  {{ partial "partials/categories.html"}}
</main>
{{ partial "aside.html" . }}
{{ end }}