.wrapper {
  padding: 2rem;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 2rem;
  box-shadow: 0 -0.125rem 1rem rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: .75rem 3rem;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  cursor: pointer;
}